.alertAnimation {
    animation-name: alert-pop-in;
    animation-duration: 800ms;
}

@keyframes alert-pop-in {
    0% {
        display: none;
        transform: translateX(200%);
    }

    100% {
        display: block;
        transform: translateX(0);
    }
}

.z-4 {
    z-index: 4 !important;
}
